<!DOCTYPE>
{% load static %}
<html>
<head>
    <title>bootstrap</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'a.css' %}">
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>ID</th>
        <th></th>  <!-- Espacio para el botón en el lateral derecho -->
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.id }}</td>
        <td><a href="#">Botón</a></td>  <!-- Botón en el lateral derecho -->
      </tr>
      {% endfor %}
    </tbody>
  </table>  
</html>