{% load static%}
{%block sidebar%}
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <span class="brand-text font-weight-light">Bienvenido, {{user.username}}</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="base.html" class="nav-link">
              <i class="nav-icon fas fa-tacproductoter-alt"></i>
              <p>
                Inicio
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="producto.html" class="nav-link">
              <i class="fa-solid fa-book"></i>
              <p>
                Producto
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="proveedor.html" class="nav-link">
              <i class="fa-solid fa-book"></i>
              <p>
                Proveedor
              </p>
            </a>
          </li>
          
          <li class="nav-item">
            <a href="factura.html" class="nav-link">
              <i class="fa-solid fa-book"></i>
              <p>
                Factura
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="usuarios.html" class="nav-link">
              <i class="fa-solid fa-book"></i>
              <p>
                Usuarios
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="opciones.html" class="nav-link">
              <i class="fa-solid fa-book"></i>
              <p>
                Opciones
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
    <!-- /.sidebar-custom -->
  </aside>
{%endblock%}