label {
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    margin-left: 10px;
    margin-top: 10px;
}

a {
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10%;
    background-color: rgb(40, 98, 146);
}

button{
    margin-left: 72px;
    margin-top: 10px;
    border-radius: 10%;
    background-color: rgb(29, 75, 112);
}

.forgot button{
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 10%;
    background-color: rgb(40, 98, 146);
}

body{
    background-image: url(" % static 'img/fondo.jpg' % ");
}

/*imagen*/
.fondoLogin {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.formulario{
    background-color: steelblue;
    width: 300px;
    height:fit-content;
    border-radius: 10%;
    box-shadow: 0 0 10px #000;
    padding: 0 35px 0 35px;
    display: grid;
    grid-template-areas: 
        "titulo titulo"
        "userField userField"
        "passField passFiled"
        "logIn signUp";
}

.titulo {
    grid-area: titulo;
    font-size: 30px;
    color: whitesmoke;
    margin: 5%;
}

.UserField {
    grid-area: userField;
    width: 100%;
    height: auto;
    text-align: left;
    align-items: start;
}

.UserField input {
    width: 230px;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.PassField {
    grid-area: passField;
    width: 230px;
    height: auto;
    text-align: left;
    align-items: start;
}

.PassField input {
    width: 230px;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.LogInField {
    grid-area: logIn;
    width: 80px;
    height: auto;
    padding-left: 20px;
    font-weight: bold;
    text-align: center;
    align-items: center;
}


.SignUpField {
    grid-area: signUp;
    width: 120px;
    height: auto;
    font-weight: bold;
    text-align: center;
    align-items: start;
}